<div class="container mx-auto my-8 px-4 sm:px-6 lg:px-8">
    @if(isSuccess){
      <div class="p-4 my-3 bg-teal-100 text-teal-900 rounded-lg">
        {{successMsg}}
      </div>
    }
    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
      <div class="shadow-lg border-2 border-gray-900 rounded-lg overflow-hidden">
        <img [src]="siteImgUrl" alt="image" class="w-full h-48 object-cover">
        <h3 class="text-xl font-bold p-3">{{siteName}}</h3>
        <div class="p-3">
          <div class="px-3 py-1 bg-blue-200 text-blue-800 rounded-lg text-sm truncate">
            {{siteUrl}}
          </div>
        </div>
      </div>
      
      <div class="px-4 sm:px-6 lg:px-8 py-6 mb-8 border-2 sm:border-4 border-gray-500 rounded-lg">
        <h2 class="text-2xl sm:text-3xl text-center font-bold">{{formState}} User & Password</h2>
        <p class="text-center text-sm sm:text-base">You can add new user & password from the below form</p>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="mt-4">
          <div class="flex flex-col mb-4">
            <label class="text-base sm:text-lg font-medium mb-2">Email:</label>
            <input type="email" name="email" [(ngModel)]="email" formControlName="email" class="border-2 border-gray-900 p-2 rounded-lg w-full">
          </div>
          <div class="flex flex-col mb-4">
            <label class="text-base sm:text-lg font-medium mb-2">Username:</label>
            <input type="text" name="userName" [(ngModel)]="username" formControlName="username" class="border-2 border-gray-900 p-2 rounded-lg w-full">
          </div>
          <div class="flex flex-col mb-4">
            <label class="text-base sm:text-lg font-medium mb-2">Password:</label>
            <input type="password" name="password" [(ngModel)]="password" formControlName="password" class="border-2 border-gray-900 p-2 rounded-lg w-full">
          </div>
          <button class="mt-6 px-4 py-2 text-sm bg-gray-900 text-white shadow rounded-md">
            {{formState}} Password
          </button>
        </form>
      </div>
    </div>
    
    <div class="mt-10 overflow-x-auto">
      <table class="w-full border-2 border-gray-900">
        <thead>
          <tr class="bg-gray-200 h-14 text-left">
            <th class="border-2 border-gray-900 p-3">Email</th>
            <th class="border-2 border-gray-900 p-3">Username</th>
            <th class="border-2 border-gray-900 p-3">Password</th>
            <th class="border-2 border-gray-900 p-3">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr class="h-14" *ngFor="let password of passwordList; let i = index">
              <td class="border-2 border-gray-900 p-3">{{password.email}}</td>
              <td class="border-2 border-gray-900 p-3">{{password.username}}</td>
              <td class="border-2 border-gray-900 p-3">{{password.password}}
                <button class="mx-0.5 px-5 py-1 text-sm bg-red-500 text-white shadow rounded-md" (click)="onDecrypt(password.password, i)">Decrypt</button>
              </td>
              <td class="border-2 border-gray-900 p-3">
                <button class="mb-2 sm:mb-0 mr-2 px-3 py-1 sm:px-4 sm:py-2 text-xs sm:text-sm bg-gray-900 text-white shadow rounded-md" (click)="editPassword(password.id, password.email, password.username, password.password)">
                  Edit
                </button>
                <button class="px-3 py-1 sm:px-4 sm:py-2 text-xs sm:text-sm border-2 border-gray-900 text-gray-900 shadow rounded-md" (click)="deletePassword(password.id)">
                  Delete
                </button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>