<div class="container mx-auto my-16">
    @if(isSuccess){
        <div class="p-5 my-3 bg-teal-100 text-teal-900 ml-48 mr-48">
          {{successMsg}}
        </div>
      }
    <div class="grid grid-cols-2 gap-5">
        <div class="shadow-lg border-2 border-gray-900 ml-48">
            <img [src]="siteImgUrl" alt="image">
            <h3 class="text-xl font-bold p-3">{{siteName}}</h3>
            <div class="grid grid-cols-3 gap-3 my-1 p-3">
                <div class="col-span-2 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm">
                    {{siteUrl}}
                </div>
            </div>
        </div>
        
        <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-500 mr-48">
            <h2 class="text-3xl text-center ">{{formState}} User & Password</h2>
            <p class="text-center"> You can add new user & password from the below form</p>
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">Email:</label>
                    <input type="email" name="email" [(ngModel)]="email" formControlName="email" class="border-2 border-gray-900 p-2 rounded-lg w-full">
                </div>
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">Username:</label>
                    <input type="text" name="uesrName" [(ngModel)]="username" formControlName="username" class="border-2 border-gray-900 p-2 rounded-lg w-full">
                </div>
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">Password:</label>
                    <input type="password" name="password" [(ngModel)]="password" formControlName="password" class="border-2 border-gray-900 p-2 rounded-lg w-full">
                </div>
                <button class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md">
                    {{formState}} Password
                </button>
            </form>
        </div>
    </div>
    <div class="grid grid-cols-1 mt-10">
        <table class="border-2 border-gray-900 ml-48 mr-48">
            <thead>
                <tr class="bg-gray-200 p-52 h-14 text-left">
                    <th class="border-2 border-gray-900 p-3">Email</th>
                    <th class="border-2 border-gray-900 p-3">Username</th>
                    <th class="border-2 border-gray-900 p-3">Password</th>
                    <th class="border-2 border-gray-900 p-3">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (password of passwordList | async; track password.id) {
                    <tr class="h-14">
                        <td class="border-2 border-gray-900 p-3">{{password.email}}</td>
                        <td class="border-2 border-gray-900 p-3">{{password.username}}</td>
                        <td class="border-2 border-gray-900 p-3">{{password.password}}</td>
                        <td class="border-2 border-gray-900 p-3">
                            <button class="mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md" (click)="editPassword(password.id, password.email, password.username, password.password)">
                                Edit
                            </button>
                            <button class="mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 text-gray-900 shaodw rounded-md"
                                (click)="deletePassword(password.id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>