<div class="container mx-auto my-16 px-48">
    <h1 class="text-3xl mt-0 mb-5">Password Manager</h1>
    <p class="mb-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo tempora enim
      voluptatum eum, exercitationem inventore, quidem doloremque, ipsam
      consequuntur quos architecto a? Id harum delectus ratione dolorem recusandae
      doloremque aspernatur.
    </p>
    <button
      class="mb-5 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md"
    >
      Add New Site
    </button>
    @if(isSuccess){
      <div class="p-5 my-3 bg-teal-100 text-teal-900">
        {{successMsg}}
      </div>
    }
    
  
    <div class="px-20 py-10 mb-10 border-4 border-gray-900">
      <h2 class="text-3xl text-center">{{formState}} Site</h2>
      <p class="text-center">You can add a new site from the below form</p>
      <form [formGroup]="siteForm">
        <div class="flex flex-col">
          <label class="text-lg font-medium mb-2">Site Name:</label>
          <input
            type="text"
            name="siteName"
            class="border-2 border-gray-900 p-2 rounded-lg w-full"
            formControlName="siteName"
            [(ngModel)]="siteName"
          />
        </div>
        <div class="flex flex-col">
          <label class="text-lg font-medium mb-2">Site URL:</label>
          <input
            type="text"
            name="siteUrl"
            class="border-2 border-gray-900 p-2 rounded-lg w-full"
            formControlName="siteUrl"
            [(ngModel)]="siteUrl"
          />
        </div>
        <div class="flex flex-col">
          <label class="text-lg font-medium mb-2">Site Image-URL:</label>
          <input
            type="text"
            name="siteImgUrl"
            class="border-2 border-gray-900 p-2 rounded-lg w-full"
            formControlName="siteImgUrl"
            [(ngModel)]="siteImgUrl"
          />
        </div>
        <button
          type="submit"
          class="submit mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md"
          [disabled]="!siteForm.valid"
          (click)="onSubmit()"
        >
        {{formState}} Site
        </button>
        <button
          class="mt-10 mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 texxt-gray-900 shadow rounded-md"
          (click)="reset()"
        >
          Reset
        </button>
      </form>
    </div>
  
    <div class="grid grid-cols-3 gap-5">
        @for(site of allSites| async;  track site.id){
            <div class="shadow-lg border-2 border-gray-900">
                <img [src]="site.siteImgUrl" alt="site-image">
                <h3 class="p-3 text-xl font-bold">{{site.siteName}}</h3>
                <div class="w-60 m-3 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm">{{site.siteUrl}}</div>
                <button class="my-3 ml-3 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shdow rounded-md">Add New Password</button>
                <button class="my-3 mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 text-gray-900 shadow rounded" (click)="editSite(site.siteName,site.siteUrl,site.siteImgUrl,site.id)">Edit</button>
                <button class="my-3 mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 text-gray-900 shadow rounded" (click)="deleteSite(site.id)">Delete</button>
            </div>
        }
    </div>
  </div>
  